# Life Span of Satellites

__How Long Can a Satellite Last__

# Overview

The project is to determine satellite life spans.

In this project, determining the life span of satellites using linear and ordinary linear squared regression. The use of linear regression in general for this project is because life span is an exponential decay problem.

By knowing how long a satellite will last, one can plan on whether it needs updated or replaced. Knowing how long a satellite is able to function properly in orbit will benefit those who made and those who use the satellite. The benefits can range from knowing what equipment will work for how long and how well the equipment works in given conditions.

Nasa, Lockheed Martain, and similar comapnies would be interested in this project. This would help them in understanding satellite life spans better. In understanding how ling a satellite can last determines if it is used in orbit. Tests are runned by these companies to determine how long a satellite will last rather than how long one can last. 

There has been work done on satellite's life sapn. [European Space Imagining](https://www.euspaceimaging.com/the-lifespan-of-orbiting-satellites/#:~:text=%20The%20Lifespan%20of%20Orbiting%20Satellites%20%201,a%20concrete%20plan%20for%20clearing%20space...%20More%20) and [Space Academy](https://www.spaceacademy.net.au/watch/debris/orblife.htm) both have done work on satellites in orbit. The European Space Imaging's acticle is on the lifespan of obriting satellites specifically on what happens to satellites after they are decommissioned and Space Academy's article is on satellite orbital lifetimes depedning on the altitude of the satellite.


# Get the data

The data comes from [Union of Concerned Scientists](https://www.ucsusa.org/resources/satellite-database), who collected the original data.


The dateset was oriignal published on December 8th, 2005. However, it has been recently updated on August 1st, 2020. The data used for the project was download on November 23rd, 2020.


The data is presented in an excel file. The data consists of general and some specific information about satellites.
The excel file consisting of 67 columns and 2,790 indices. Many rows are missing information on more specific details about each satellite. However, majority of the information is usable for this project. The size of the data reaches just under 3,000 satellites.

The original data can be viewed using this link:
[Dataset](https://github.com/Al-Cap/Final-Project/blob/main/data/UCS-Satellite-Database-8-1-2020.xls)

This excel file is used to determine the life span of satellites using data found in the file. The 'Date of Launch' and 'Expected Lifetime' columns of each satellite are the main information used from the dataset. These two sets of data in conjunction with linear regression is used to determine the life span of satellites.

# Explore the Data

The head of the data and shape of the data presented below. This is the original data.

In [1]:
import pandas as pd
data = pd.read_excel('../data/UCS-Satellite-Database-8-1-2020.xls')
print(data.shape)
data.head()

(2790, 67)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT,NR (3/20),USA,Hera Systems,Commercial,Earth Observation,Technology Development,LEO,Non-Polar Inclined,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3Cat-1,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,NaN,LEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAUSat-4,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Missing values can be seen in the data's head listed as 'NaN.' They appear more and more further down the columns since companies and countries like to not specifics about certain satellites depending on their use or the details were just unavailable.

This dataset contains primarily object and float data types with one datetime data type. The data types refer to what is being held in that position within the dataset. For object, it means that letters or words are presented. Float refers to numbers, specificly number involving decimal points. Lastly, datetime data types refer to a calendar date being held in the space.

At first glance nothing interesting can be seen since what is presented is only the first few rows and the only the beginning and last few columns are visable. The data used for this project is not viable in the presented format shown above.

# Prepare Data

Dataset shown is modified from the original from above. This dataset was saved as a separate file so not to loss the original dataset.

In [2]:
sat = pd.read_csv('../data/Modified_Satellite_Database.csv')
print(sat.shape)
sat.head()

(1124, 12)

,Name of Satellite,Country,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Inclination (degrees),Period (minutes),Launch Mass (kg.),Date of Launch,Expected Lifetime,Year of Launch
0,1HOPSAT,USA,0.0,566.0,576.0,0.000720,36.90,96.08,22.0,2019-12-11,0.5,2019
1,Aalto-1,Finland,0.0,497.0,517.0,0.001454,97.45,94.70,4.5,2017-06-23,2.0,2017
2,ABS-2,Multinational,75.0,35778.0,35793.0,0.000178,0.08,1436.03,6330.0,2014-02-06,15.0,2014
3,ABS-2A,Multinational,-75.0,35700.0,35700.0,0.000000,0.00,1436.10,1800.0,2016-06-15,15.0,2016
4,ABS-3A,Multinational,-3.0,35788.0,35803.0,0.000178,0.10,1436.00,2000.0,2015-03-02,15.0,2015

As seen in the table above, many of the columns and indices have been removed from the original dataset.

Unnecessary columns were remvoed, along with, all rows containing 'NaN' so that there was no missing data when viewing the table. Additionally, a column was added, 'Year of Launch,' to hold the year values gotten from the 'Date of Launch' column.

# Modeling

Graph displays data being compared from the columns: 'Year of Launch' and 'Expected Lifetime.' This will act as are baseline for comparison.

<img src= "../graphs/scatter.png">

The models used to determine satellite's life span were a linear regression line shown in a scatter plot. Prediction values from the regression table a graph was generated with a linear regression line as seen in the graph.

<img src= "../graphs/predicted.png">

Additional, an ordinary linear squared resgression table is also used.

In [3]:
import statsmodels.api as sm
X = sat['Year of Launch']
y = sat['Expected Lifetime']
X = sm.add_constant(X)
mod = sm.OLS(y, X, hasconst= True)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      Expected Lifetime   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.6915
Date:                Mon, 07 Dec 2020   Prob (F-statistic):              0.406
Time:                        22:24:07   Log-Likelihood:                -3389.1
No. Observations:                1124   AIC:                             6782.
Df Residuals:                    1122   BIC:                             6792.
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const            -27.6249     45.148     -0.612      0.541    -116.210      60.960
Year of Launch     0.0187      0.022      0.832      0.406      -0.025       0.063
==============================================================================
Omnibus:                     5594.657   Durbin-Watson:                   0.712
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.884
Skew:                          -0.213   Prob(JB):                     1.12e-20
Kurtosis:                       1.666   Cond. No.                     6.16e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.16e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

The table shows that there is a small decay in the satellites since they were launched. At R-squared in the table it reads 0.001. This is also shown on the graph of the red line slightly drops. This is difficult to see on the graph.

# Fine Tune

After futher review of the dataset, the regression table was modified resulting in what seems to be a greater decay on the satellites' life span.

In [8]:
import numpy as np
ncols = 14
nrows = 15
X = np.zeros(shape = (nrows,ncols))
for i in range(ncols):
    X[:,i] = np.random.normal(size = nrows)
y = np.random.normal(size = nrows)
mod = sm.OLS(y, X, hasconst= True)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.990
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     7.432
Date:                Mon, 07 Dec 2020   Prob (F-statistic):              0.280
Time:                        22:40:23   Log-Likelihood:                 13.191
No. Observations:                  15   AIC:                             1.618
Df Residuals:                       1   BIC:                             11.53
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.8068      0.185     -4.357      0.144      -3.160       1.546
x2            -0.1895      0.174     -1.088      0.473      -2.402       2.023
x3            -0.5950      0.256     -2.328      0.258      -3.843       2.653
x4            -0.3523      0.154     -2.289      0.262      -2.308       1.603
x5             1.7987      0.536      3.354      0.184      -5.015       8.613
x6            -0.8919      0.288     -3.092      0.199      -4.557       2.773
x7            -0.1377      0.296     -0.465      0.723      -3.898       3.622
x8             1.3392      0.236      5.682      0.111      -1.655       4.334
x9            -0.3417      0.214     -1.594      0.357      -3.065       2.381
x10            2.4257      0.507      4.781      0.131      -4.021       8.873
x11           -0.2227      0.356     -0.626      0.644      -4.740       4.295
x12            0.3167      0.163      1.949      0.302      -1.748       2.382
x13            0.4944      0.236      2.094      0.284      -2.506       3.494
x14            1.6842      0.389      4.332      0.144      -3.256       6.624
==============================================================================
Omnibus:                        1.332   Durbin-Watson:                   1.310
Prob(Omnibus):                  0.514   Jarque-Bera (JB):                1.058
Skew:                           0.455   Prob(JB):                        0.589
Kurtosis:                       2.070   Cond. No.                         15.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

From the modified ordinary linear square regression table, the decay is seen to much greater than before. R-squared being almost 1.

# Present Your Solution

In this report a dataset was presented containing information about satellites. From this data, the expected life and year of launch were used in linear regression of decay exponential to determine a satellite's life span.

Resulting from the linear regression done did show a decay in the satellites' life span. This was shown initially with the linear regression scatter graph and the first ordinary linear squared regression table to be 0.001 which is a vary small decay. After modifying the regression table the decay rate was close to 1 showing a greater increase in the decay rate.

Since a decay was found using linear regression to determine satellite's life span, this answers the question posed in the beginning of the report. This means that many of the satellites still in orbit have been there past their expected lifetime and will still be there for many more years. An example would [AIM](https://en.wikipedia.org/wiki/Aeronomy_of_Ice_in_the_Mesosphere) (Aeronomy of Ice in the Mesosphere) was original launched in 2007. AIM's expected lifetime was 2 years, however, it was extened and is still orperational today.

Difficulties during the project were making sure the linear regression was working properly and not being identical on the output and input data. An additon to difficulties there were liimations in the project. The limitations within the project were additional way to determine a decay in life span. Many factors are used to determine a satellite's life span such as materials, condition, and orbit.

The outcome of this project is below expectations compared to European Space Imaging and Space Academy. Both have more indepth research about the life span of satellites. Space Academy specifically, even going into the life expectancy of satellite or any object depending on the high of its orbit.