# Life Span of Satellites

__How Long Can a Satellite Last For__

# Overview

The project is to determine satellite life spans.

In this project, determining the life span of satellites using linear and ordinary linear squared regression. The use of linear regression in general for this project is because life span is an exponential decay problem.

By knowing how long a satellite will last, one can plan on whether it needs updated or replaced. Knowing how long a satellite is able to function properly in orbit will benefit those who made and those who use the satellite. The benefits can range from knowing what equipment will work for how long and how well the equipment works in given conditions.

Nasa, Lockheed Martain, and similar comapnies would be interested in this project. This would help them in understanding satellite life spans better. In understanding how ling a satellite can last determines if it is used in orbit. Tests are runned by these companies to determine how long a satellite will last rather than how long one can last. 

There has been work done on satellite's life sapn. [European Space Imagining](https://www.euspaceimaging.com/the-lifespan-of-orbiting-satellites/#:~:text=%20The%20Lifespan%20of%20Orbiting%20Satellites%20%201,a%20concrete%20plan%20for%20clearing%20space...%20More%20) and [Space Academy](https://www.spaceacademy.net.au/watch/debris/orblife.htm) both have done work on satellites in orbit. The European Space Imaging's acticle is on the lifespan of obriting satellites specifically on what happens to satellites after they are decommissioned and Space Academy's article is on satellite orbital lifetimes depedning on the altitude of the satellite.


# Get the data

The data comes from [Union of Concerned Scientists](https://www.ucsusa.org/resources/satellite-database), who collected the original data.


The dateset was oriignal published on December 8th, 2005. However, it has been recently updated on August 1st, 2020. The data used for the project was download on November 23rd, 2020.


The data is presented in an excel file. The data consists of general and some specific information about satellites.
The excel file consisting of 67 columns and 2,790 indices. Many rows are missing information on more specific details about each satellite. However, majority of the information is usable for this project. The size of the data reaches just under 3,000 satellites.

The original data can be viewed using this link:
[Dataset](https://github.com/Al-Cap/Final-Project/blob/main/data/UCS-Satellite-Database-8-1-2020.xls)

This excel file is used to determine the life span of satellites using data found in the file. The 'Date of Launch' and 'Expected Lifetime' columns of each satellite are the main information used from the dataset. These two sets of data in conjunction with linear regression is used to determine the life span of satellites.

# Explore the Data

The head of the data and shape of the data presented below. This is the original data.

In [2]:
import pandas as pd
data = pd.read_excel('../data/UCS-Satellite-Database-8-1-2020.xls')
print(data.shape)
data.head()

(2790, 67)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT,NR (3/20),USA,Hera Systems,Commercial,Earth Observation,Technology Development,LEO,Non-Polar Inclined,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3Cat-1,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,NaN,LEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAUSat-4,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Missing values can be seen in the data's head listed as 'NaN.' They appear more and more further down the columns since companies and countries like to not specifics about certain satellites depending on their use or the details were just unavailable.

This dataset contains primarily object and float data types with one datetime data type. The data types refer to what is being held in that position within the dataset. For object, it means that letters or words are presented. Float refers to numbers, specificly number involving decimal points. Lastly, datetime data types refer to a calendar date being held in the space.

At first glance nothing interesting can be seen since what is presented is only the first few rows and the only the beginning and last few columns are visable. The data used for this project is not viable in the presented format shown above.

# Prepare Data

Dataset shown is modified from the original from above. This dataset was saved as a separate file so not to loss the original dataset.

In [4]:
mod = pd.read_csv('../data/Modified_Satellite_Database.csv')
print(mod.shape)
mod.head()

(1124, 12)

,Name of Satellite,Country,Longitude of GEO (degrees),Perigee (km),Apogee (km),Eccentricity,Inclination (degrees),Period (minutes),Launch Mass (kg.),Date of Launch,Expected Lifetime,Year of Launch
0,1HOPSAT,USA,0.0,566.0,576.0,0.000720,36.90,96.08,22.0,2019-12-11,0.5,2019
1,Aalto-1,Finland,0.0,497.0,517.0,0.001454,97.45,94.70,4.5,2017-06-23,2.0,2017
2,ABS-2,Multinational,75.0,35778.0,35793.0,0.000178,0.08,1436.03,6330.0,2014-02-06,15.0,2014
3,ABS-2A,Multinational,-75.0,35700.0,35700.0,0.000000,0.00,1436.10,1800.0,2016-06-15,15.0,2016
4,ABS-3A,Multinational,-3.0,35788.0,35803.0,0.000178,0.10,1436.00,2000.0,2015-03-02,15.0,2015

As seen in the table above, many of the columns and indices have been removed from the original dataset.

Unnecessary columns were remvoed, along with, all rows containing 'NaN' so that there was no missing data when viewing the table. Additionally, a column was added, 'Year of Launch,' to hold the year values gotten from the 'Date of Launch' column.

# Modeling

The models used are a linear regression line shown in a scatter plot. Prediction values from the regression table a graph was generated with a linear regression line as seen in the graph.

<img src= "../graphs/predicted.png">

Additional, an ordinary linear squared resgression table is also used.

- What models do you use and why?

- What is a good baseline?

- Which metric you will be focusing on, why?

Decision tree model

Logistic regression model

confusion matrics for both models

# Fine Tune 

- Make sure that you played with the hyper-parameters and fine-tuned the parameters. 

- Use grid search, cross validation to compare different models. 

- Don't show all of your work here only mention if it is necessary to understand you work's results.

here your code if necessary

# Present Your Solution


- What are your results? Why? 

- You must connect this part to the original business problem.

- How certain are you of your results?

- What are some limitations of your work?

- Compared to others' work in this field, how is your result? Above expectations? Why? Below expectations? Why?